*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --red-color: rgb(218, 44, 56);
    --dark-green-color: rgb(34, 111, 84);
    --light-green-color: rgb(135, 195, 143);
    --light-yellow-color: rgb(244, 240, 187);
    --brown-color: rgba(67, 41, 31, .9);
    --cell-size: 100px; 
    --gray-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
}

@font-face {
    font-family: 'skeet';
    src: url('fonts/SkeetEyes.ttf') format('truetype');
  }
  
body{
    background-color: var(--light-green-color);
}
header,h1{
    color: var(--brown-color);
    font-family: 'skeet', Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1rem;
    font-size: 5rem;
    text-shadow:  2px 2px 3px rgba(0, 0, 0, 0.3);

}

#gameBoard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--light-yellow-color);
    margin: auto; 
    width: 300px;
}
#gameBoard .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--brown-color);
    width: var(--cell-size);   
    height: var(--cell-size);
    font-size: calc(var(--cell-size) * .9);
    font-family: 'skeet';
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.restartBtn{
  background:var(--dark-green-color);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1.3rem;
  letter-spacing: .08em;
  position: relative;
  padding: .6rem 1rem;
  text-align: center;
  box-shadow: var(--gray-box-shadow);
  margin-top: 1rem;
}
.restartBtn:hover{
    background-color: var(--red-color);
}

.displayResult{
    display: none; 
    font-size: 3rem;
    background-color: var(--light-yellow-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: var(--gray-box-shadow);
    color: var(--red-color);
}
