*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --red-color: rgb(218, 44, 56);
    --dark-green-color: rgb(34, 111, 84);
    --light-green-color: rgb(135, 195, 143);
    --light-yellow-color: rgb(244, 240, 187);
    --brown-color: rgb(67, 41, 31);
}
body{
    background-color: var(--light-green-color);
}
header,h1{
    text-align: center;
    padding: 1rem;
    font-size: 3rem;

}

#gameboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--light-yellow-color);
    margin: auto; 
    width: 300px;
}
#gameboard .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.restartBtn{
  background:var(--dark-green-color);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1.3rem;
  letter-spacing: .08em;
  position: relative;
  padding: .6rem 1rem;
  text-align: center;
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
  margin-top: 1rem;
}
.restartBtn:hover{
    background-color: var(--red-color);
}